// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$brandBlue: #334D73;
$white: #ffffff;

.thead-brand {
  background-color: $brandBlue;
  color: $white;
}

.company-name {
  color: $brandBlue;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 40px;
}
